<div class="grid grid-cols-5">
  <div class="col-span-1">
    <div class="p-6 ">
      <div class="mb-8">
        <%= link_to root_path do %>
          <%= image_tag("Life4Pets-logo", class: "life-4-pets-logo-home")  %>
        <% end %>
      </div>
      <div data-controller="modal-handler">
        <%= link_to "" do %>
          <div class="flex items-center text-gray-600" data-action="click->modal-handler#open" >
            <svg class="pr-2" fill="grey" xmlns="http://www.w3.org/2000/svg" height="2em" viewBox="0 0 448 512"><path d="M64 80c-8.8 0-16 7.2-16 16V416c0 8.8 7.2 16 16 16H384c8.8 0 16-7.2 16-16V96c0-8.8-7.2-16-16-16H64zM0 96C0 60.7 28.7 32 64 32H384c35.3 0 64 28.7 64 64V416c0 35.3-28.7 64-64 64H64c-35.3 0-64-28.7-64-64V96zM200 344V280H136c-13.3 0-24-10.7-24-24s10.7-24 24-24h64V168c0-13.3 10.7-24 24-24s24 10.7 24 24v64h64c13.3 0 24 10.7 24 24s-10.7 24-24 24H248v64c0 13.3-10.7 24-24 24s-24-10.7-24-24z"/></svg>
            Create
          </div>
            <div>
              <dialog data-modal-handler-target="modal" class="p-0 backdrop:bg-gray-400 backdrop:bg-opacity-50 open:animate-fade-in open:backdrop:animate-fade-in">
                <div class="fixed top-0 left-0 right-0 z-50 w-full overflow-x-hidden overflow-y-auto md:inset-0 h-[calc(100%-1rem)] max-h-full" >
                  <div class=" relative top-[50%] left-[50%] translate-y-[-50%] translate-x-[-50%] w-full max-w-lg max-h-full rounded-lg shadow" >
                    <div class="relative bg-white rounded-lg shadow ">
                      <div class="flex items-center justify-between p-5 rounded-t">
                        <button type="button" data-action="click->modal-handler#close" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ml-auto inline-flex justify-center items-center">
                          <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
                          </svg>
                          <span class="sr-only">Close modal</span>
                        </button>
                      </div>
                      <div class="p-6 space-y-6">
                        <div class="flex flex-col items-center justify-center">
                          <svg xmlns="http://www.w3.org/2000/svg" fill="gray" height="5em" viewBox="0 0 640 512"><path d="M256 0H576c35.3 0 64 28.7 64 64V288c0 35.3-28.7 64-64 64H256c-35.3 0-64-28.7-64-64V64c0-35.3 28.7-64 64-64zM476 106.7C471.5 100 464 96 456 96s-15.5 4-20 10.7l-56 84L362.7 169c-4.6-5.7-11.5-9-18.7-9s-14.2 3.3-18.7 9l-64 80c-5.8 7.2-6.9 17.1-2.9 25.4s12.4 13.6 21.6 13.6h80 48H552c8.9 0 17-4.9 21.2-12.7s3.7-17.3-1.2-24.6l-96-144zM336 96a32 32 0 1 0 -64 0 32 32 0 1 0 64 0zM64 128h96V384v32c0 17.7 14.3 32 32 32H320c17.7 0 32-14.3 32-32V384H512v64c0 35.3-28.7 64-64 64H64c-35.3 0-64-28.7-64-64V192c0-35.3 28.7-64 64-64zm8 64c-8.8 0-16 7.2-16 16v16c0 8.8 7.2 16 16 16H88c8.8 0 16-7.2 16-16V208c0-8.8-7.2-16-16-16H72zm0 104c-8.8 0-16 7.2-16 16v16c0 8.8 7.2 16 16 16H88c8.8 0 16-7.2 16-16V312c0-8.8-7.2-16-16-16H72zm0 104c-8.8 0-16 7.2-16 16v16c0 8.8 7.2 16 16 16H88c8.8 0 16-7.2 16-16V416c0-8.8-7.2-16-16-16H72zm336 16v16c0 8.8 7.2 16 16 16h16c8.8 0 16-7.2 16-16V416c0-8.8-7.2-16-16-16H424c-8.8 0-16 7.2-16 16z"/></svg>
                          <p class="mt-2 text-gray-500 text-sm font-semibold tracking-wide">Attach a Photo of your pet</p>
                        </div>
                      </div>
                      <div class="flex items-center px-6 space-x-2 border-t mx-2 border-gray-200 rounded-b">
                        <button type="button" data-action="click->modal-handler#close" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full px-5 py-2.5 my-4 text-center">Upload</button>
                      </div>
                      <input type="file" class="hidden">
                    </div>
                  </div>
                </div>
              </dialog>
            </div>
        <% end %>
      </div>
      <div>
        <%= link_to "Log out", destroy_user_session_path, data: { "turbo-method": "delete" } %>
      </div>
    </div>
  </div>
  <div class="col-span-3 border border-gray-400">Second Col</div>
  <div class="col-span-1 border border-gray-400">Third Col</div>
</div>
